.heading-primary {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .heading-primary {
    font-size: 40px;
  }
}

.heading-secondary {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .heading-secondary {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

.d--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px 0;
}
.header_logo {
  color: #777;
}
.header .contact .contact_inline {
  color: #fff;
  padding: 12px 14px;
  font-size: 12px;
  background-color: #6ba7eb;
  transition: all 0.3s ease;
}
.header .contact .contact_inline:hover {
  color: #333;
}
@media screen and (max-width: 767px) {
  .header .contact_inline {
    display: none;
  }
}

.nav_toggle {
  display: none;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .nav_toggle {
    display: block;
  }
}

.keyvisual {
  width: 100%;
}
.keyvisual_img {
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
}
.keyvisual_copy {
  width: 100%;
  text-align: center;
  padding-top: 400px;
  padding-bottom: 400px;
}
.keyvisual h1 {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}
.keyvisual .keyvisual_subcopy {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .keyvisual {
    padding: 250px 0;
  }
}
@media screen and (max-width: 767px) {
  .keyvisual {
    padding: 200px 0;
  }
}

.work {
  background-color: #e3f2fd;
  padding-top: 50px;
}
.work--flex {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .work--flex {
    display: block;
    text-align: center;
  }
}
.work .pc_illust_parents {
  width: 40%;
}
@media screen and (max-width: 1199px) {
  .work .pc_illust_parents {
    width: auto;
  }
}
.work .pc_illust_parents .pc_illust {
  width: 250px;
  margin: auto;
}
.work .work_catch_copy {
  text-align: center;
  padding-top: 20px;
  width: 60%;
}
@media screen and (max-width: 1199px) {
  .work .work_catch_copy {
    width: 100%;
  }
}
.work .work_catch_copy .work_copy {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 35px;
}
.work .work_catch_copy .work_text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}
@media screen and (max-width: 1199px) {
  .work {
    width: 100%;
  }
}

.skills {
  padding: 50px 0 70px;
}
.skills_copy {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}
.skills_icon_area {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}
@media screen and (max-width: 1199px) {
  .skills_icon_area {
    display: block;
  }
}
.skills .skills_card {
  opacity: 0.7;
  transition: all 0.7s ease;
}
.skills .skills_card:hover {
  opacity: 1;
}
@media screen and (max-width: 1199px) {
  .skills .skills_card {
    width: 300px;
    height: 300px;
    margin: 0 auto 80px;
  }
}

.plan {
  background-color: #d0dfea;
  padding: 50px 0;
}
.plan .select_plan_copy {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.plan table {
  width: 100%;
  table-layout: fixed;
}
.plan table th, .plan table td {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  background-color: #e3f2fd;
  border-left: 2px solid #fff;
  padding: 10px;
}
.plan table th:first-child, .plan table td:first-child {
  border-left: none;
}
.plan table th {
  background-color: #6ba7eb;
}
.plan table tr:nth-of-type(odd) td {
  background-color: #f9f9f9;
}
.plan table .plan_heading {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .plan table th, .plan table td {
    font-size: 14px;
    line-height: 22px;
  }
}

.sns {
  padding: 200px 0;
  background-color: #e3f2fd;
  pointer-events: none;
}
.sns_flex {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .sns_flex {
    display: block;
  }
}
.sns_icon {
  width: 185px;
  padding: 25px 0;
  color: #8c8c8c;
  font-size: 40px;
  text-align: center;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.sns_icon:hover {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .sns_icon {
    width: 100%;
    padding: 50px 0;
  }
}

footer {
  background-color: #cfd8dc;
  padding: 20px 0;
}
footer .footer_flex {
  display: flex;
  justify-content: end;
}
footer .footer_copy {
  font-size: 10px;
  letter-spacing: 0.5px;
}/*# sourceMappingURL=style.css.map */